body{
    background-color: rgb(35, 35, 35);
}
.navbar{
    height: 50px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    float: right;
    cursor: pointer;
    float: left;
}
.menu{
    height: auto;
    width: 40%;
    float: left;
    display: inline-flex;
    align-items: flex-end;
    padding: 5px;
    justify-content: space-evenly;
}
a{
    color: white;
    text-decoration: none;
}
#port{
    float: left;
    margin-left: -200px;
    font-size: 40px;
}
a:hover{
    color: aqua;
}
.container,.about,.skill,.project{
    height: 600px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.box1{
    height: 500px;
    width: 40%;
    margin-top: 40px;
    margin-left: 40px;
    color: white;
}
.box2,.img{
    height: 500px;
    width: 30%;
    margin-top: 40px;
    margin-left: 50px;
    border-radius: 50%;
    background-image: url("portfolio_img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgb(71, 146, 226) 0px 20px 30px -10px;
}
#hello{
    margin-top: 50px;
    animation: up-down 1.5s ease-in-out 0s 1 normal ;
}
#name{
    color: chartreuse;
    animation: up-down 1.5s ease-in-out 0s 1 normal ;
}
#lorem{
    animation: up-down 1.5s ease-in-out 0s 1 normal ;
}
#follow{
    color: deepskyblue;
}
.icons{
    height: 40px ;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.icon{
    height: 30px ;
    width: 30px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon:hover{
    background-color: rgb(66, 236, 245) ;
}
button{
    padding:5px;
    background-color: rgb(66, 245, 203);
    font-size: 15px;
    margin-top: 30px;
   
    border-radius: 50px;
    color: black;
}
button:hover{
    background-color: rgb(66, 236, 245);
    
}
.img{
    animation: slide-left 1.5s ease-in-out 0s 1 normal ;
}
.about_me{
    height: 500px;
    width: 40%;
    margin-top: 40px;
    margin-left: 40px;
    animation: slide-right 1.5s ease-in-out 0s 1 normal ;
    
}
#self{
    margin-top: 60px;
    color: mediumspringgreen;
}
#frontend{
    color: floralwhite;
}
p{
    color: hotpink;
}
.skills{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:  deepskyblue;
    margin-top: 50px;
    font-size: 40px;
    
}
.skill{
    width: 70%;
    margin-left: 225px;
    
}
.skill::after{
    content: "";
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 6px;
    left: 0;
    background-color: white;

}
.box3,.box4,.box5{
    height: 300px;
    width: 225px;
    color: rgb(0, 160, 209);
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border: 2px solid white;
    border-radius: 10%;
    transition: transform 1500ms;
    backface-visibility: hidden;
    position: relative;
    transition: .3s ease;
    box-shadow: rgba(15, 38, 91, 0.8) 0px 25px 40px, rgba(15, 38, 91, 0.8) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.box5:hover{
    transform: scale(1.1);
}
.box3:hover{
    transform: scale(1.1);
    border:2px solid pink;
}
.box4:hover{
    transform: scale(1.1);
}
@keyframes slide-left {
    0%{
        transform: translateX(-700px);
    }
    100%{
        transform: translateX(0);
    }  
}
.box3{

    animation: slide-left 1.5s ease-in-out 0s 1 normal ;
}
@keyframes down-left{
    0%{
        transform: translateX(-300px) translateY(600px);
    }
    100%{
        transform: translateX(0) translateY(0);
    }
}
#para{
    animation: down-left 1.5s ease-in-out 0s 1 normal ;
}
@keyframes up-left{
    0%{
        transform: translateX(-300px) translateY(-400px);
    }
    100%{
        transform: translateX(0) translateY(0);
    }
}
#follow,.icons{
    animation: up-left 1.5s ease-in-out 0s 1 normal ;
}
@keyframes up-down{
    0%{
        transform: translateX(300px) translateY(-300px);
    }
    100%{
        transform: translateX(0) translateY(0);
    }
}
@keyframes slide-right {
    0%{
        transform: translateX(700px) ;
    }
    100%{
        transform: translateX(0);
    }  
}
.box5,.box2{
    animation: slide-right 1.5s ease-in-out 0s 1 normal ;
}
@keyframes slide-up {
    0%{
        transform:  translateX(500px) translateY(500px);
    }
    100%{
        transform:  translateX(0) translateY(0);
    }  
}
.box4,button{
    animation: slide-up 1.5s ease-in-out 0s 1 normal ;
}
.box6,.box7,.box8{
    height: 400px;
    width: 30%;
    border: 2px solid white;
}
.box6{
    background-image: url("port_img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.box7{
    background-image: url("temp_img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.box8{
    background-image: url("net.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.hidden1{
    height: 400px;
    width: 100%;
    border: 2px solid white;
    position: relative;
    top: 100%;
    transition: all .3s ease-out;
    background: rgba(34,34,34,0.9);
}
.hidden2{
    height: 400px;
    width: 100%;
    border: 2px solid white;
    position: relative;
    top: 100%;
    transition: all .3s ease-out;
    background:rgba(34,34,34,0.9);
}
.hidden3{
    height: 400px;
    width: 100%;
    border: 2px solid white;
    position: relative;
    top: 100%;
    transition: all .3s ease-out;
    background: rgba(34,34,34,0.9)  ;
}
.box6:hover > .hidden1{
    top: 0;
}
.box7:hover > .hidden2{
    top: 0;
}
.box8:hover > .hidden3{
    top: 0;
}
#project{
    color: blanchedalmond;
    margin-top: 40px;
    margin-left: 150px;
    font-size: 30px;
    color:rgb(0, 170, 255);

}
#pro{
    color: blanchedalmond;
    margin: 25px;
}
